<% content_for :title, "FAQ" %>
<div class="faq-wrapper">
  <div class="faq-container">
    <div class="faq-question">
      Is Megaphone free to use?
      <%= fa_icon "angle-down", :class => "carrot" %>
    </div>
    <div class="faq-answer">
      Megaphone is entirely open-source and was designed to be easily cloned and implemented any organization that wishes to use it. The only costs associated with Megaphone are those of the various APIs that are utilized.
    </div>
  </div>
  <div class="faq-container">
    <div class="faq-question">
      Can Megaphone be used outside of NY?
      <%= fa_icon "angle-down", :class => "carrot" %>
    </div>
    <div class="faq-answer">
      As of right now, Megaphone cannot track campaign contributions for Representatives outside of New York State. However, all other Megaphone functions can be easily modified to support activism in other US states.
    </div>
  </div>
  <div class="faq-container">
    <div class="faq-question">
      Is Megaphone secure?
      <%= fa_icon "angle-down", :class => "carrot" %>
    </div>
    <div class="faq-answer">
      When setting up Megaphone for the first time, organizations create a username and password for the Admin portal. Unless they are logged in through the portal, users can access the database but not alter it.
    </div>
  </div>
  <div class="faq-container">
    <div class="faq-question">
      How customizable is Megaphone?
      <%= fa_icon "angle-down", :class => "carrot" %>
    </div>
    <div class="faq-answer">
      Megaphone's stylesheets can be easily altered to comply with the styling of your own website. Megaphone also allows for organizations to enter their own issues based on what is relevant to their specific activism.
    </div>
  </div>
  <div class="faq-container">
    <div class="faq-question">
      Is Megaphone easy to setup?
      <%= fa_icon "angle-down", :class => "carrot" %>
    </div>
    <div class="faq-answer">
      While Megaphone was designed with ease of use in mind, the initial setup still requires some technical knowledge. If your organization needs help following the implementation instructions, feel free to email me through the feedback form.
    </div>
  </div>
</div>
<script>
  $(".carrot").on('click', function() {
    $(this).parent().parent().toggleClass('expanded')
    $(this).toggleClass('fa-angle-down fa-angle-up')
  });
</script>
