<%= form_with(model: @office, remote: true, class:"edit-office-form") do |form| %>
  <% if @office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
        <% @office.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="edit-office-header">
  </div>
  <div class="field office-name-field">
      <%= form.text_field :name %>
  </div>
  <div class="field office-address-field">
    <%= form.text_field :address %>
  </div>
  <div class="field office-phone-field">
    <%= form.text_field :phone %>
  </div>
  <div class="field office-fax-field">
    <%= form.text_field :fax %>
  </div>
  <input type="hidden" id="index" name="index" value="<%=@index%>">
  <div class="office-submit-field">
    <%= submit_tag("Update", class:"submit-button") %>
  </div>
<% end %>
