<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @initiative.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @initiative.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @initiative.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @initiative.end_date %>
</p>

<%= link_to 'Edit', edit_initiative_path(@initiative) %> |
<%= link_to 'Back', initiatives_path %>
