<% content_for :title, @initiative.name %>

<p id="notice"><%= notice %></p>
<div class = "inner">
  <div class="initiative-container">
    <p>
      <strong>Duration:</strong>
      <%= @initiative.start_date.strftime("%m/%d/%Y") %> - <%= @initiative.end_date.strftime("%m/%d/%Y") %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= @initiative.description %>
    </p>
  </div>
  <div class = "email-wrapper">
    <% if @initiative.emails.any? %>
      <strong> Emails: </strong>
    <% end %>
    <% @initiative.emails.each do |email| %>
      <div class = "email-container" id="email-container-<%=email.id%>">
        <%= link_to '', edit_email_path(:id => email.id), class: "fa fa-pencil edit-icon", remote: true %>
        <span>
          <strong>To:</strong> <%= email.representatives.map {|rep| rep.name }.to_sentence%>
        </span>
        <span><strong>Subject:</strong> <%= email.subject %></span>
        <br>
        <span><%= email.body %></span>
      </div>
    <% end %>
  </div>
      <% @email = Email.new %>
      <%= form_with(model: @email, remote: true, class: "email-form") do |form| %>
        <% if @email.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@email.errors.count, "error") %> prohibited this issue from being saved:</h2>

            <ul>
              <% @email.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <h1>New Email</h1>

        <div class="field email-subject-field">
          <%= form.label :subject %>
          <%= form.text_field :subject %>
        </div>

        <div class="field email-body-field">
          <%= form.label :body %>
          <%= form.text_area :body %>
        </div>
        <%= form.hidden_field :initiative_id, :value => @initiative.id %>
        <label for="recipiant-wrapper">Recipiants</label>
        <div id = "recipiant-wrapper">
          <% Representative.all.each_with_index do |rep, i| %>
            <div class="recipiant-field"
              <label for="recipiant-<%=i%>"><%=rep.name%></label>
              <input type="checkbox" name="representative_ids[]" value="<%=rep.id%>" id="recipiant-<%=i%>">
            </div>
          <% end %>
        </div>
        <%= form.submit "CREATE", class: "wide-button" %>
      <% end %>
</div>
<% content_for :page_scripts do %>

<% end %>
