<div class = "issue-header">
  NEW ISSUE
</div>
<div class= "issue-body">
  <%= form_with(model: @issue, local: true, class: "belief-form") do |form| %>
    <% if @issue.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

        <ul>
          <% @issue.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area:description %>
    </div>

    <div class="actions">
      <%= form.submit "CREATE", class: "submit-button" %>
    </div>
  <% end %>
</div>
