<div class="card-header">
  <span class="template-name"><%= @template.name %></span>
  <div class="action-icons">
    <%= link_to '', edit_template_path(:id => @template.id), class: "fa fa-pencil edit-icon"%>
    <%= link_to '', @template, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash edit-icon"%>
  </div>
</div>
<div class="card-body">
  <span class="template-recipiants">
    <strong>To:</strong> <%= @template.representatives.map {|rep| rep.name }.to_sentence%>
  </span>
  <span class="template-subject"><strong>Subject:</strong> <%= @template.subject %></span>
  <span class="template-body"><%= @template.body %></span>
</div>
