<nav class="rep-nav">
    <%= link_to 'Overview', overview_representative_path(:id => @representative.id, :index => @index), :remote => true, class: "rep-nav-link"%>
    <%= link_to 'Beliefs', beliefs_representative_path(:id => @representative.id, :index => @index), :remote => true, class: "rep-nav-link"%>
    <%= link_to 'Voting Record', votes_representative_path(:id => @representative.id, :index => @index), :remote => true, class: "rep-nav-link"%>
    <%= link_to 'Campaign Contributions', contributions_representative_path(:id => @representative.id, :index => @index), :remote => true, class: "rep-nav-link active"%>
    <%= link_to 'Contact', contact_representative_path(:id => @representative.id, :index => @index), :remote => true, class: "rep-nav-link"%>
</nav>
<div class="rep-body">
  <img class="rep-image" src="<%= @representative.img %>" ></img>
  <h3 class="rep-rating">Rating: <%= @representative.rating%></h3>
</div>
