<nav class="card-nav">
  <%= link_to 'Overview', show_representative_path(:id => @representative.id, :partial => 'overview'), :remote => true, class: "card-nav-link"%>
  <%= link_to 'Beliefs', show_representative_path(:id => @representative.id, :partial => 'beliefs'), :remote => true, class: "card-nav-link"%>
  <%= link_to 'Voting Record', show_representative_path(:id => @representative.id, :partial => 'votes'), :remote => true, class: "card-nav-link"%>
  <%= link_to 'Campaign Contributions', show_representative_path(:id => @representative.id, :partial => 'contributions'), :remote => true, class: "card-nav-link"%>
  <%= link_to 'Contact', show_representative_path(:id => @representative.id, :partial => 'contact'), :remote => true, class: "card-nav-link active"%>
</nav>
<div class="card-body large">
  <form class="email-form" action="/representatives/<%=@representative.id%>/contact" accept-charset="UTF-8" data-remote="true" method="post">
    <div class="field template-name-field">
      <label>Template</label>
      <select class = "template_name" onchange="autofill(<%=@representative.id%>)">
        <option value="-1">Select a Template</option>
        <% @representative.email_templates.each do |email_template| %>
          <option value="<%= email_template.id %>"><%= email_template.name %></option>
        <% end %>
        <option value="-1">Blank</option>
      </select>
    </div>
    <div class="field draft-subject-field">
      <label for="draft_subject">Subject</label>
      <input type="text" name="subject" class="draft_subject">
    </div>
    <div class="field draft-body-field">
      <label>Body</label>
      <textarea name="body" class="draft_body"></textarea>
    </div>
    <input type="submit" name="commit" value="Send" class="submit-button" data-disable-with="CREATE">
  </form>
</div>
