<nav class="card-nav">
  <%= link_to 'Overview', show_representative_path(:id => @representative.id, :partial => 'overview'), :remote => true, class: "card-nav-link"%>
  <%= link_to 'Beliefs', show_representative_path(:id => @representative.id, :partial => 'beliefs'), :remote => true, class: "card-nav-link"%>
  <%= link_to 'Voting Record', show_representative_path(:id => @representative.id, :partial => 'votes'), :remote => true, class: "card-nav-link"%>
  <%= link_to 'Campaign Contributions', show_representative_path(:id => @representative.id, :partial => 'contributions'), :remote => true, class: "card-nav-link active"%>
  <%= link_to 'Contact', show_representative_path(:id => @representative.id, :partial => 'contact'), :remote => true, class: "card-nav-link"%>
</nav>
<div class="card-body scrollable">
  <div class="card-wrapper">
    <% total = @representative.contributions.sum(&:amount) %>
    <% if total > 0 %>
      <h3 class="contributions-total"><%= fa_icon "money-bill-alt" %><span>Received $<%=  number_with_delimiter(total, :delimiter => ',') %> from Relevant Dark Money Groups</span><%= fa_icon "money-bill-alt" %></h3>
    <% elsif total < 0 %>
      <h3 class="contributions-total"><%= fa_icon "money-bill-alt" %><span>Opposed with $<%=  number_with_delimiter(total*-1, :delimiter => ',') %> from Relevant Dark Money Groups!</span><%= fa_icon "money-bill-alt" %></h3>
    <% else %>
      <h3 class="contributions-total"><%= fa_icon "money-bill-alt" %><span>Received No Money from Relevant Dark Money Groups!</span><%= fa_icon "money-bill-alt" %></h3>
    <% end %>
    <% @representative.contributions.each do |contribution| %>
      <% lobbyist = contribution.lobbyist %>
      <div class="card">
        <div class="card-header">
          <% if contribution.amount > 0 %>
            Received $<%=number_with_delimiter(contribution.amount, :delimiter => ',') %> from <%=lobbyist.name%> on <%= contribution.date.to_formatted_s(:long) %>
          <% elsif contribution.amount < 0 %>
            Opponent received $<%=number_with_delimiter(contribution.amount*-1, :delimiter => ',') %> from <%=lobbyist.name%> on <%= contribution.date.to_formatted_s(:long) %>
          <% end %>
        </div>
        <div class="card-body">
          <p><%= lobbyist.description %><p>
        </div>
      </div>
    <% end %>
  </div>
</div>
