<nav class="rep-nav">
  <%= link_to 'Overview', show_representative_path(:id => @representative.id, :partial => 'overview'), :remote => true, class: "rep-nav-link"%>
  <%= link_to 'Beliefs', show_representative_path(:id => @representative.id, :partial => 'beliefs'), :remote => true, class: "rep-nav-link"%>
  <%= link_to 'Voting Record', show_representative_path(:id => @representative.id, :partial => 'votes'), :remote => true, class: "rep-nav-link active"%>
  <%= link_to 'Campaign Contributions', show_representative_path(:id => @representative.id, :partial => 'contributions'), :remote => true, class: "rep-nav-link"%>
  <%= link_to 'Contact', show_representative_path(:id => @representative.id, :partial => 'contact'), :remote => true, class: "rep-nav-link"%>
</nav>
<div class="rep-body">
  <div class="vote-wrapper">
    <% @representative.votes.each do |vote| %>
      <% bill = Bill.find(vote.bill_id) %>
      <div class="vote-container">
        <div class="vote-header">
          Voted <%=vote.stance%> on <%= bill.location %> Bill <%= bill.number %> - <%= bill.name %>
        </div>
        <div class="vote-body">
          <p><%= bill.summary %><p>
          <div class="billissue-container">
            <% bill.issues.each do |issue| %>
              <label class="bill-issue-tag selected mini"><%=issue.name%></label>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
