<h1> <%= @representatives.first.profession %>s </h1>
<div class="rep-wrapper">
  <% @representatives.each do |representative| %>
      <header class="rep-header">
        <span>
          <%= representative.profession %>
        </span>
        <span>
        <%= representative.name%> <%= representative.party%>
        </span>
        <% if representative.district? %>
          <span>
            - <%= representative.district%>
          </span>
        <% end %>
      </header>
      <div class="card" id="rep-card-<%=representative.id%>">
        <%= render :partial => 'overview', :locals => {:@representative => representative} %>
      </div>
  <% end %>
</div>
