<h1> <%= @representatives.first.profession %>s </h1>
<div class="rep-wrapper">
  <% @representatives.each do |representative| %>
      <header class="rep-header">
        <span>
          <%= representative.profession %>
        </span>
        <span>
        <%= representative.name%> <%= representative.party%>
        </span>
        <% if representative.district? %>
          <span>
            - <%= representative.district%>
          </span>
        <% end %>
      </header>
      <div class="card" id="rep-card-<%=representative.id%>">
        <%= render :partial => 'overview', :locals => {:@representative => representative} %>
      </div>
  <% end %>
</div>
<script>
  let email_templates = {
    <% EmailTemplate.all.each do |email_template| %>
      <%= email_template.id %>: {
        subject: "<%= email_template.subject %>",
        body: `<%= email_template.body %>`
      },
    <% end %>
    "-1": {
      subject: "",
      body: ""
    }
  }
  function autofill(representative_id){
    email_template_id = $(`#rep-card-${representative_id} .template_name`).val()
    $(`#rep-card-${representative_id} .draft_subject`).val(email_templates[email_template_id]["subject"])
    $(`#rep-card-${representative_id} .draft_body`).val(email_templates[email_template_id]["body"])
  };
</script>
