<% content_for :title, "VIEW REPRESENTATIVE" %>
<div class="rep-wrapper">
  <header class="rep-header">
    <span>
      <%= @representative.profession %>
    </span>
    <span>
    <%= @representative.name%> <%= @representative.party%>
    </span>
    <% if @representative.district %>
      <span>
        - <%= @representative.district%>
      </span>
    <% end %>
  </header>
  <div class="rep-container" id="rep-container-0">
    <%= render :partial => 'admin_overview', :locals => {:representative => @representative, :index => 0} %>
  </div>
</div>
