<% content_for :title, "YOUR REPRESENTATIVES" %>
<% @reps.each_with_index do |representative, index| %>
  <div class="rep-wrapper">
    <header class="rep-header">
      <h2><%= representative.profession %> <%= representative.name%> <%= representative.party%> - <%= representative.district%></h2>
    </header>
    <div class="rep-container" id="rep-container-<%=index%>">
      <%= render :partial => 'overview', :locals => {:@representative => representative, :@index => index} %>
    </div>
  </div>
<% end %>
