<div class="bill-container">
  <div class = "bill-header">
    <%= @bill.location %> Bill <%= @bill.number %> - <%= @bill.name %>
  </div>
  <div class= "bill-body">
    <%= @bill.summary %>
    <% @bill.issues.each do |issue| %>
      <label class="bill-issue-tag selected mini"><%=issue.name%></label>
    <% end %>
  </div>
  <div class= "bill-footer">
    </div>
</div>
