<%= form_with(model: @lobbyist, remote: true, class: "lobbyists-form") do |form| %>
  <% if @lobbyist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lobbyist.errors.count, "error") %> prohibited this lobbyist from being saved:</h2>

      <ul>
        <% @lobbyist.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field" id="lobbyist-name-field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field" id="lobbyist-fec-committee-id-fields">
    <%= form.label :fec_committee_ids %>
    <%= form.text_field :fec_committee_ids %>
  </div>
  <div class="field" id="lobbyist-nysboe-committee-id-fields">
  <%= form.label :nysboe_committee_ids %>
  <%= form.text_field :nysboe_committee_ids %>
</div>
  <div class="field" id="lobbyist-description-field">
    <%= form.label :description %>
    <%= form.text_area:description %>
  </div>
  <%= form.submit class: "submit-button", id: "lobbyist-submit-button" %>
<% end %>
