<%= form_with(model: @email, remote: true, class: "email-form") do |form| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% @email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field email-subject-field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field email-body-field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <%= form.hidden_field :initiative_id, value: @email.initiative.id %>
  <label for="recipiant-wrapper">Recipiants</label>
  <div id = "recipiant-wrapper">
    <% Representative.all.each_with_index do |rep, i| %>
      <div class="recipiant-field"
        <label for="recipiant-<%=i%>"><%=rep.name%></label>
        <%= check_box('representative_ids', rep.id, {:checked => Recipiant.where(representative_id:rep.id,email_id:@email.id).count > 0})%>
      </div>
    <% end %>
  </div>
  <%= form.submit "Update", class: "wide-button" %>
<% end %>
