<div class="card-header">
  <span class="email-template-name"><%= @email_template.name %></span>
  <div class="action-icons">
    <%= link_to '', edit_email_template_path(:id => @email_template.id), class: "fa fa-pencil-alt edit-icon"%>
    <%= link_to '', @email_template, method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash edit-icon"%>
  </div>
</div>
<div class="card-body">
  <span class="template-recipiants">
    <strong>To:</strong> <%= @email_template.representatives.map {|rep| rep.name }.to_sentence%>
  </span>
  <span class="template-subject"><strong>Subject:</strong> <%= @email_template.subject %></span>
  <span class="template-body"><%= @email_template.body %></span>
</div>
