<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title><%= yield(:title) %> | Megaphone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if admin_signed_in? %>
      <%= render :partial => 'layouts/admin_header' %>
    <% else %>
      <%= render :partial => 'layouts/header' %>
    <% end %>
    <div class = "main">
      <header>
        <br>
        <h1><%= yield(:title) %></h1>
      </header>
      <%= yield %>
    </div>
    <footer id="footer">
      <h1>MEGAPHONE</h1>
      <p>Amplify Your Voice</p>
    </footer>
    <%= yield :page_scripts %>
  </body>
</html>
