<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title><%= yield(:title) %> | Megaphone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class = "outer">
      <nav class="navbar">
        <ul class="nav-list">
          <li class="nav-logo">
            <a href="#">MEGAPHONE</a>
          </li>
          <li class = "nav-item">
            <a href="#">HOME</a>
          </li>
          <li class = "nav-item">
            <a href="#">ABOUT</a>
          </li>
          <li class = "nav-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </nav>
      <header>
        <h1><%= yield(:title) %></h1>
      </header>
      <%= yield %>
      <footer id="footer">
        <p class="copyright">© NYC Says Enough. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
