<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Megaphone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
    <%= favicon_link_tag asset_path('icon.png') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if admin_signed_in? %>
      <%= render :partial => 'layouts/admin_header' %>
    <% else %>
      <%= render :partial => 'layouts/header' %>
    <% end %>
    <div class = "main">
      <header>
        <br>
        <h1><%= yield(:title) %></h1>
      </header>
      <%= yield %>
    </div>
    <footer id="footer">
      <ul id="footer_links">
        <li class="footer_link">
          <a href="/about">About Megaphone</a>
        </li>
        <li class="footer_link">
          <a href="/implement">Implement Megaphone</a>
        </li>
        <li class="footer_link">
          <a href="/faq">FAQ</a>
        </li>
        <li class="footer_link">
          <a href="/feedback">Give Feedback</a>
        </li>
      </ul>
      <%= image_tag "megaphone.png", class:"logo" %>
    </footer>
    <%= yield :page_scripts %>
  </body>
</html>
